<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourism">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:name=".view.TourApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_REST_API_key">
        </meta-data>
        <meta-data
            android:name="com.kakao.sdk.Appkey"
            android:value="@string/kakao_app_key">
        </meta-data>
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.foodview.FoodActivity">
        </activity>
        <activity android:name=".view.tourview.TourActivity">
        </activity>
        <activity android:name=".view.FirstActivity"/>
        <activity android:name=".view.foodview.FoodDetailActivity"/>
        <activity android:name=".view.tourview.TourDetailActivity"/>
        <activity android:name=".view.bottomnavi.ActivityLikeList"/>
        <activity android:name=".view.kakaomapview.KakaoMapActivity"/>
    </application>

</manifest>